
.w3-sidebar {
    width: 120px;
    background: #222;
}

 /*Define Fonte para todas as tags listadas abaixo*/
body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}

/* Definimos que a sidebar terá uma largura de 120px e cor a cord de fundo #222 */
main {
    margin-left: 110px
}

.texto{
    text-align: justify;
}

.w3-text-cyan, .p{
    text-align: justify;
}

#professores{
    padding-left: 50px;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }

    #modulos{
        padding-bottom:17px;
    }

}